main {
    margin-top: 6.5em;

    padding: 2em 10em;
}

#desc {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
}

main h1 {
    font-size: 300%;
}

#desc span {
    font-size: 125%;
}

main > img {
    width: 40%;
    object-fit: contain;
    float: right;
    margin: 0 0 1em 2em;
}

main p {
    margin: 0;
    text-align: justify;
    line-height: 1.3;
}