main {
    margin-top: 6.5em;
    padding: 2em 15em;
}

#desc {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
}

main h1 {
    font-size: 300%;
}

#desc span {
    font-size: 100%;
}

main > img {
    width: 40%;
    object-fit: contain;
    float: right;
    margin: 0 0 0.5em 1em;
}

main p {
    margin: 0;
    text-align: justify;
    line-height: 1.3;
}

h2 {
    font-weight: bold;
    margin-top: 1em;
}

#edit-btn {
    margin-top: 1em;
    display: inline-block;
    width: 100%;
    text-align: center;
}